.home-page{
margin:15px;

}

.greeting{
  display: block;
  justify-content: center;
  width: 80vw;
  padding-left:30%;
}

.greeting__hello{
  justify-content: center;
  color:indianred;
  display:block;
  width: 50%;
  height: 50%;
  margin-left:20px;
  /* font-family: 'Akronim' ; */
  /* font-size: 544%; */
}
.btn-add{
  margin-top:12px;
}
