.home-page{
margin:15px;

}

.greeting{
  display: block;
  justify-content: center;
  text-align: center;
  margin: 15%;  

}

.greeting__hello{
  justify-content: center;
  color:indianred;
  margin:20px;
  font-family: 'Akronim' ;
  font-size: xx-large;
}
