.home-page{
margin:15px;

}

.greeting{
  display: block;
  justify-content: center;
  width: 100vw;
padding-left:20%;
}

.greeting__hello{
  justify-content: center;
  color:indianred;
  display:block;
  width: 50%;
  height: 50%;
  margin-left:20px;
  /* font-family: 'Akronim' ; */
  /* font-size: 544%; */
}
